<div class="row">
  <div class="md-3">
    <h2>ユーザープロフィール編集</h2>
  <%= form_with model: @customer do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div class="md-3">
      <%= f.label :name, "ユーザーネーム" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="md-3">
      <%= f.label :email, "メールアドレス" %><br>
      <%= f.email_field :email %>
    </div>

    <div class="md-3">
      <%= f.label :password, "パスワード（変更する場合のみ入力）" %><br>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="md-3">
      <%= f.label :password_confirmation, "パスワード確認" %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="md-3">
      <%= f.submit "更新する", class: 'btn btn-success' %>
    </div>
  <% end %>

  <%= link_to 'マイページへ戻る', customer_path(@customer) %>
  </div>
</div>