<div class="row">
  <div class="col-md-6 mx-auto">
    <h2>ユーザープロフィール編集</h2>
  <%= form_with model: @customer do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div class="mb-2">
      <%= f.label :name, "ユーザーネーム" %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= f.label :email, "メールアドレス" %><br>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <!--<div class="mb-2">
      <%= f.label :password, "パスワード（変更する場合のみ入力）" %><br>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="mb-2">
      <%= f.label :password_confirmation, "パスワード確認" %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div> -->

    <div class="my-4">
      <%= f.submit "更新する", class: 'btn btn-success' %>
      <%= button_to '退会する', customer_path(@customer), method: :delete, data: { confirm: '本当に退会しますか？' }, class: "btn btn-danger" %>
    </div>
  <% end %>

  <%= link_to 'マイページへ戻る', customer_path(@customer) %>
  </div>
</div>