<div class='container'>
  <div class='row'>
    <div class="mt-3">
      <h2>投稿編集</h2>
      <%= form_with model: @post do |f| %>
        <%= render 'layouts/error_messages', model: f.object, resource: @post %>
        <div class="md-3">
          <%= f.label :タイトル, class: 'form-label' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="md-3">
          <%= f.label :本文, class: 'form-label' %>
          <%= f.text_area :body, class: 'form-control', rows: 5  %>
        </div>
        <div class="md-3">
          <%= f.submit '更新する', class: 'btn btn-success' %>
        </div>
      <% end %>
      <%= link_to '投稿詳細へ戻る', post_path(@post) %> |
      <%= link_to '投稿一覧へ戻る', posts_path %>
    </div>
  </div>
</div>
