<div class='row'>
  <div class="col-md-6 mx-auto">
    <h2>投稿の編集</h2>
    <%= form_with model: @post do |f| %>
      <%= render 'layouts/error_messages', model: f.object, resource: @post %>
      <div class="mb-2">
        <h5><%= f.label :タイトル, class: 'form-label' %></h5>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="mb-2">
        <h5><%= f.label :本文, class: 'form-label' %></h5>
        <%= f.text_area :body, class: 'form-control', rows: 5  %>
      </div>
      <div>
        <%= f.label :tag_names, "タグ（カンマ区切り）" %><br>
        <%= f.text_field :tag_names, value: @post.tags.pluck(:name).join(", "), placeholder: "例：Ruby, Rails, Web" %>
      </div>
      <div class="my-2">
        <%= f.submit '更新する', class: 'btn btn-success' %>
      </div>
    <% end %>
    <%= button_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
    
    <%= link_to '投稿詳細へ戻る', post_path(@post) %> |
    <%= link_to '投稿一覧へ戻る', posts_path %>
  </div>
</div>
