<div class="row">
  <div class='col-6 mx-auto'>
    <h2>投稿一覧</h2>
    <% if @keyword.present? %>
      <h3>「<%= @keyword %>」の検索結果: <%= @posts.count %>件</h3>
    <% end %>

    <% @posts.each do |post| %>
      <h3><%= link_to post.title, post_path(post) %></h3>
      <p><%= truncate(post.body, length: 100) %></p>
      <p>
        <% if post.postable_type == "Shop" %>
          店舗名：<%= link_to post.postable.name, shop_path(post.postable) %>
        <% elsif post.postable_type == "Customer" %>
          ユーザーネーム：<%= post.postable.name %>
        <% else %>
          不明
        <% end %>
      </p>
      <p><small>投稿日: <%= post.created_at.strftime("%Y/%m/%d %H:%M") %> ｜ コメント（<%= post.comments.count %>件）</small></p>
      <hr>
    <% end %>

  </div>
</div>
