<div class="row">
  <div>
    <h2><%= @post.title %></h2>
    <p><%= @post.body %></p>
    <p>投稿者:<strong><%= @post.postable.name %></strong></p>
    <p>投稿日: <%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
    <% if @post.postable == current_shop || @post.postable == current_customer %>
      <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success" %> |
      <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
    <% end %>

    <hr>

    <p>コメント（<%= @post.comments.count %>件）</p>
    <% @post.comments.each do |comment| %>
  <div>
    <p><strong><%= comment.user.name %></strong></p>
    <p><%= comment.body %></p>
    <% if comment.user == current_shop || comment.user == current_customer %>
      <%= link_to 'コメント削除', post_comment_path(@post, comment), method: :delete, data: { confirm: '削除しますか？' }, class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>
  <hr>
<% end %>

<% if shop_signed_in? || customer_signed_in? %>
  <h4>コメントを投稿する</h4>
  <%= form_with model: [@post, Comment.new], local: true do |f| %>
    <div>
      <%= f.text_area :body, class: "form-control", rows: 3, placeholder: "コメントを入力してください" %>
    </div>
    <div>
      <%= f.submit "コメントを投稿する", class: "btn btn-sm btn-info mt-2" %>
    </div>
  <% end %>
<% else %>
  <p>コメントするにはログインしてください。</p>
<% end %>

    <%= link_to '投稿一覧へ戻る', posts_path %>
  </div>
</div>
