<div class="row">
  <div class="col-6 mx-auto my-3">
    <h2>投稿の詳細</h2>
    <table class='table'>
      <tr>
        <th>タイトル</th>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <th>内容</th>
        <td><%= @post.body %></td>
      </tr>
    </table>
    <p class="my-1"><small>
      <% if @post.postable_type == "Shop" %>
        店舗名：<%= link_to @post.postable.name, shop_path(@post.postable) %>
      <% elsif post.postable_type == "Customer" %>
        ユーザーネーム：<%= @post.postable.name %>
      <% else %>
        不明
      <% end %>
    </small></p>
    <p><small>投稿日：<%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></small></p>
    <p>
      タグ:
      <% @post.tags.each do |tag| %>
        <%= link_to tag.name, search_posts_path(tag_id: tag.id), class: "badge badge-primary mr-1" %>
      <% end %>
    </p>
    
    <p class="card-title">
      <span><i class="fa-solid fa-location-dot"></i> <%= @post.address %></span>
    </p>
    <div id="map" data-lat="<%= @post.latitude %>" data-lng="<%= @post.longitude %>"></div>
    <%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>
    <div class="my-2"> 
      <% if @post.postable == current_shop || @post.postable == current_customer %>
        <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success" %> |
        <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>

    <hr>

    <h5>コメント（<%= @post.comments.count %>件）</h5>
    <% @post.comments.each do |comment| %>
      <div>
        <p><%= simple_format(comment.body) %></p>
        <small>ユーザー名: <%= comment.user.name %></small> | 
        <small><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></small><br>
        <% if comment.user == current_shop || comment.user == current_customer %>
          <%= link_to 'コメント削除', post_comment_path(@post, comment), method: :delete, data: { confirm: '削除しますか？' }, class: "btn btn-sm btn-outline-danger" %>
        <% end %>
      </div>
      <hr>
    <% end %>

    <% if shop_signed_in? || customer_signed_in? %>
      <h4>コメントを投稿する</h4>
      <%= form_with model: [@post, Comment.new], local: true do |f| %>
        <div>
          <%= f.text_area :body, class: "form-control", rows: 3, placeholder: "コメントが入力できます（200字以内）", maxlength: 200 %>
        </div>
        <div>
          <%= f.submit "コメントを投稿する", class: "btn btn-sm btn-info mt-2" %>
        </div>
      <% end %>
    <% else %>
      <p>コメントするにはログインしてください。</p>
    <% end %>
    <div class="my-4">
      <%= link_to '投稿一覧へ戻る', posts_path %>
    </div>
  </div>
</div>

