<h1>店舗ユーザー一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>店舗名</th>
      <th>メールアドレス</th>
      <th>電話番号</th>
      <th>定休日</th>
      <th>店舗紹介</th>
      <th></th>
    </tr>
  </head>
  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= link_to shop.id, admin_shop_path(shop) %></td>
        <td><%= shop.name %></td>
        <td><%= shop.email %></td>
        <td><%= shop.telephone_number.presence || "未設定" %></td>
        <td>
          <% if shop.weekdays.any? %>
            <%= shop.weekdays.pluck(:name).join(", ") %>
          <% else %>
            未設定
          <% end %>
        </td>
        <td><%= shop.introduction.presence || "未設定" %></td>
        <td><%= link_to "詳細", admin_shop_path(shop), class: "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

