<div class="row">
  <div class="md-3">
    <h2>店舗プロフィール編集</h2>
  <%= form_with model: @shop do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div class="md-3">
      <%= f.label :name, "店舗名" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="md-3">
      <%= f.label :email, "メールアドレス" %><br>
      <%= f.email_field :email %>
    </div>

    <div class="md-3">
      <%= f.label :email, "電話番号（ハイフンなし）" %><br>
      <%= f.text_field :telephone_number, placeholder: "00000000000" %>
    </div>

    <div class="md-3">
      <%= f.label :email, "店舗紹介" %><br>
      <%= f.text_area :introduction, class: "form-control", rows: 3, placeholder: "店舗紹介を入力できます（300字以内）" %>
    </div>

    <div class="md-3">
      <%= f.label :password, "パスワード（変更する場合のみ入力）" %><br>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="md-3">
      <%= f.label :password_confirmation, "パスワード確認" %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="md-3">
      <%= f.submit "更新する", class: 'btn btn-success' %>
    </div>
  <% end %>

  <%= link_to 'マイページへ戻る', shop_path(@shop) %>
  </div>
</div>