<div class="row">
  <div class='col-md-5 offset-md-1'>
    <h2>プロフィール</h2>
      <table class='table'>
      <tr>
        <th>ユーザーネーム</th>
        <td><%= @shop.name %></td>
      </tr>
      <tr>
	      <th>メールアドレス</th>
	      <td><%= @shop.email %></td>
      </tr>
    </table>
    <% if shop_signed_in? && @shop == current_shop %>
    <div class='my-3'>
      <%= link_to 'プロフィールを編集する', edit_shop_path(@shop), class: "btn btn-sm btn-success" %>
    </div>
      <div class='my-3'>
        <%= link_to '退会する', shop_path(@shop), method: :delete, data: { confirm: '本当に退会しますか？' }, class: "btn btn-sm btn-danger" %>
      </div>
    <% end %>
  </div>
  <div class='col-md-5 offset-md-1'>
    <h2>あなたの投稿一覧</h2>
    <% if @posts.any? %>
      <ul>
        <% @posts.each do |post| %>
          <li>
            <%= link_to post.title, post_path(post) %> 
            <small>(投稿日: <%= post.created_at.strftime("%Y/%m/%d") %>)</small>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>まだ投稿がありません。</p>
    <% end %>
  </div>
</div>