<div class="row mt-3">
  <div class="col-3">
    <h3>一般ユーザー詳細</h3>
    <table class="table">
      <tbody>
        <tr>
          <th>id</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th>ユーザーネーム</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to "削除", admin_customer_path(@customer), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger btn-block" %>
  </div>
  <div class="col-8 offset-1">
    <h3><%= @customer.name %>の投稿一覧</h3>
    <% if @posts.any? %>
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>title</th>
            <th>body</th>
            <th></th>
          </tr>
        </head>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.id, admin_post_path(post) %></td>
              <td><%= post.title %></td>
              <td><%= post.body %></td>
              <td><%= link_to "詳細", admin_post_path(post), class: "btn btn-outline-primary" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>まだ投稿がありません。</p>
    <% end %>
  </div>
  <div class="my-2">
  <%= link_to '一般ユーザー一覧へ戻る', admin_customers_path %>
  </div>
</div>