<div class="row">
  <div class="col-6 mx-auto">
    <h2>投稿詳細</h2>
    <table class="table">
      <tr>
        <th>id</th>
        <td><%= @post.id %></td>
      </tr>
      <tr>
        <th>ユーザー種別</th>
        <td><%= @post.postable_type %></td>
      </tr>
      <tr>
        <th>ユーザー名</th>
        <td><%= link_to @post.postable.name, polymorphic_path([:admin, @post.postable ]) %></td>
      </tr>
      <tr>
        <th>タイトル</th>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <th>内容</th>
        <td><%= @post.body %></td>
      </tr>
      <tr>
        <th>投稿日</th>
        <td><%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></td>
      </tr>
    </table>
    <div class="col-6">
      <%= link_to "投稿削除", admin_post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-outline-danger btn-block " %>
    </div>

    <hr>

    <p>コメント（<%= @post.comments.count %>件）</p>
    <% @post.comments.each do |comment| %>
      <div>
        <p><strong><%= comment.user.name %></strong></p>
        <p><%= comment.body %></p>
          <%= link_to 'コメント削除', admin_post_comment_path(@post, comment), method: :delete, data: { confirm: '削除しますか？' }, class: "btn btn-sm btn-danger" %>
      </div>
    <hr>
    <% end %>

    <%= link_to '投稿一覧へ戻る', admin_posts_path %>
  </div>
</div>