<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">どこかのキッチンカー</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if customer_signed_in? %>
          <li class="nav-item">
            <%= link_to "HOME", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ABOUT", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "マイページ", customer_path(current_customer), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規投稿", new_post_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "HOME", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ABOUT", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "一般会員登録", new_customer_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "一般会員ログイン", new_customer_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "店舗会員登録", new_shop_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "店舗会員ログイン", new_shop_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>